/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;

}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

/* En-tête */

header {
    margin-bottom: 5%;

}

#Logo-Booki {

    width: 6%;
    padding-top: 25px;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav a {
    margin-left: 30px;
    display: block;
    padding-top: 20px;
}

.nav-menu-link a:hover {
    border-bottom: none;
    border-top: solid;
    border-top-color: blue;
    color: #0065FC;
}

.nav-menu-link {
    display: flex;
}



/* Barre de recherche */


.search-bar {
    display: flex;
    height: 40px;
}

.search-input {
    border: solid 1px;
    border-color: var(--main-bg-color);
    width: 250px;
}


.search-bar-icon {
    width: 50px;
    align-content: center;
    text-align: center;
    border: solid 1px;
    border-right: 0;
    background-color: var(--main-bg-color);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
}

.search-button {
    background-color: var(--main-color);
    border: solid 1px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: 0;
    border: none;
    width: 100px;
}

.search-bar-text {
    display: block;
    color: white;
}

.search-input::placeholder {
    font-weight: bold;
    color: black;

    padding-left: 10px;
}

.search-bar-loupe {
    display: none;
}

.grey-icone {
    color: #F2F2F2;
}

.black-icone {
    color: #000000;
}



/* Filtres */


.filters {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
}

.filters span {
    display: flex;
    font-weight: bold;
    font-size: 15px;
    align-self: center;

}

.filter {
    display: flex;
    gap: 10px;
    border: solid 3px;
    border-color: var(--main-bg-color);
    border-radius: 100px;
    margin: 10px;
    padding: 15px;
    height: 5px;
}

.filter-icone {
    font-size: 20px;
    align-self: center;
}

.filter:hover {
    background-color: #DEEBFF;
    cursor: default;
}

.container-filters {
    display: flex;
    flex-direction: row;
}

.filters-title {
    align-self: center;
    font-weight: bold;
}



/* Info-barre */

.info-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.info-bar-text {
    margin-left: 15px;
    font-size: 15px;
}

.info-group-lines {
    margin-bottom: 30px;
    margin-top: 20px;
}

.info-group-lines p {
    font-size: 15px;
    margin-top: 0px;
}

.info-group-lines h1 {
    margin-bottom: 5px;
}

.info-group-filters {
    padding-top: 20px;
}



/* Section cartes */

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));

}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color);
}

.blue-icone {
    color: #0065FC;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    gap: 20px;
}

.hebergements-and-populaires section {
    border-radius: 20px;
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.section-hebergements {
    background-color: var(--main-bg-color);
    width: 75%;
}

.container-hebergements {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.card-hebergements {
    display: flex;
    flex-direction: column;
    margin: 5%;
    height: 85%;
}

.card-hebergements img {
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-hebergements .card-content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.container-hebergements .card-title {
    margin-top: 10px;
    margin-bottom: 5px;
}

.container-hebergements .card-subtitle {
    margin: 0;
    margin-bottom: 5px;
    font-size: 15px;

}

.container-populaires .card-rating {
    margin-bottom: 5px;
}

#hebergements-title {
    margin-bottom: 18px;
    margin-left: 18px;
}

#afficher {
    margin-left: 18px;
}

/****** Populaires ***********/
.section-populaires {
    width: 32%;
    background-color: var(--main-bg-color);
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-populaires .card {
    display: flex;
    margin-top: 33px;
}

.container-populaires img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.container-populaires .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.container-populaires .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.container-populaires .card-subtitle {
    margin: 0;
    margin-bottom: 3px;
    font-size: 15px;
}

.container-populaires .card-rating {
    margin-bottom: 5px;
}

/* Activités */


.activities-title {
    padding-left: 50px;
    padding-top: 30px;
}

.container-activities {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2%;
    padding: 2%;
}

.card-activities {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: white;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    height: 100%;
}

.card-activities img {
    height: 350px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;

}

.card-activities .card-content {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

/* Footer */

.pied-de-page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #F2F2F2;
    margin-top: 30px;
}

.footer-title {
    padding-left: 30px;
}

footer ul li {
    margin: 10px;
}

footer ul {
    list-style-type: none;
    padding-left: 20px;
}

.nav-footer a {
    margin-left: 0px;
    padding-top: 5px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    /* général */

    .main-container {
        width: 100%;
        box-sizing: border-box;
    }

    /* en-tête */

    #Logo-Booki {
        width: 65px;
        height: 20px;
    }

    .nav-menu-link a:hover {
        border-bottom: none;
        border-top: solid;
        border-top-color: blue;
        padding-top: 20px;
    }


    /* filtres */
    .filters {
        display: flex;
        flex-direction: column;

    }

    .filters-title {
        padding-left: 5px;
        margin-bottom: 10px;
        font-size: 13px;
        align-self: auto;
    }

    .filter {
        margin-right: 10px;
        margin-top: 10px;
        margin-left: 0px;
    }

    .filter span {
        font-size: 13px;
    }


    /* sections */


    .hebergements-and-populaires {
        flex-direction: column;
    }

    /* hebergements */



    .section-hebergements {
        width: 100%;

        ;
    }

    .hebergements {
        width: 100%;
    }

    /* populaires*/

    .section-populaires {
        width: 100%;
        margin-top: 50px;
    }

    .card-populaire {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .card-populaire a {
        width: 30%;
    }

    .card-populaire .card-title {
        font-size: 14px;
    }

    .card-populaire .card-subtitle {
        font-size: 13px;
    }

    .container-populaires {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2%;
    }

    /* activités */

    .card-activities img {
        width: 100%;
        height: 200px;

    }

    .card-activities .card-content {
        height: 70px;
    }




}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .main-container {
        width: 100%;
        box-sizing: border-box;
        padding: 0;
    }

    /* en-tete */

    #Logo-Booki {
        height: 20px;
        width: 65px;
        align-self: center;
        padding-top: 10%;
    }

    .nav-menu {
        flex-direction: column;
        align-items: normal;
        border-bottom: solid 1px;
        border-bottom-color: #F2F2F2;
    }

    .nav-menu-link {
        display: flex;
        justify-content: space-around;
        padding-top: 10px;


    }

    .nav-link {
        display: flex;
        justify-content: center;
        width: 50%;
        padding-bottom: 10px;
    }

    .nav-menu-link a:hover {
        border-top: none;
        color: #0065FC;


    }

    .nav-link:hover {
        border-bottom: solid 1px;
        border-bottom-color: blue;
    }

    nav a {
        margin-left: 0;
    }


    /* info group */

    .info-group {
        padding-left: 15px;
        padding-right: 15px;
    }

    .info-bar {
        padding-left: 10px;
    }

    .fa-info {
        padding-left: 2px;
    }



    /* barre de recherche */

    .search-bar-text {
        display: none;
    }

    .search-bar-loupe {
        display: inline-block;
        color: white;
    }

    .search-button {
        width: 40px;
        margin-left: -15px;
        border-radius: 10px;
        filter: drop-shadow(1px 6px 1px rgba(0, 0, 0, 0.1))
    }

    .search-bar-icon {
        width: 50px;
    }

    .search-input {
        width: 100%;
    }




    /* filtres */

    .filters {
        flex-direction: column;
    }

    .filters-title {
        align-self: auto;
    }

    .container-filters {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

    }

    .filter {
        height: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 12px;
        width: 33%;
        margin-right: 1%;
        padding: 10px;
        padding-left: 15px;
        flex-grow: 1;

    }

    .filter span {
        font-size: 11px;
    }





    /* section */

    .hebergements-and-populaires section {
        width: 100%;
        margin-bottom: 50px;
        margin-top: 0px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 40px;


    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
        padding: 0%;
        margin-bottom: 0%;

        /* hebergements */
    }

    .section-hebergements {
        width: 100%;
        background-color: white;
        padding: 20px;

    }

    .container-hebergements {
        display: grid;
        grid-template-columns: 1fr;
    }

    .container-hebergements .card {
        margin-top: 10px;
    }

    .card-hebergements {
        margin-bottom: 5%;
        margin-left: 0%;
        margin-right: 0%;

    }

    #hebergements-title {
        margin-left: 0%;
        margin-bottom: 10px;
    }

    #afficher {
        margin-left: 0%;
    }


    /* populaires */

    .container-populaires {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
    }

    .section-populaires {
        background-color: #F2F2F2;

    }

    .container-populaires .card {
        margin-top: 10px;
    }

    #afficher {
        margin-top: 5px;
        font-size: 15px;
    }


    /* activités */

    .container-activities {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .container-activities .card-activities {
        margin-top: 5px;
    }

    .card-activities {
        margin: 10px;
        margin-bottom: 5px;

    }

    .card-activities .card-content {
        height: 50px;
    }

    .card-activities img {
        height: 120px;
    }

    .activities-title {
        padding-left: 40px;
        padding-top: 0px;

    }

    /* footer */

    footer {
        flex-direction: column;
    }

    footer ul {
        padding-left: 40px;
    }



    .pied-de-page {
        display: flex;
        flex-direction: column;
    }

    .footer-title {
        padding-left: 50px;
    }
}